.Home-align {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Home-border {
	width: 100%;
	max-width: 500px;
	margin: 50px;
	padding: 100px 10px;
	background-color: #f7f7f7;
	border-radius: 10px;
}

.Home-logo {
	height: 20vh;
}
